<%= form_with(model: [:admin, song_group]) do |form| %>
  <% if song_group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(song_group.errors.count, "error") %> prohibited this song_group from being saved:</h2>

      <ul>
        <% song_group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title_en, style: "display: block" %>
    <%= form.text_field :title_en %>
  </div>

  <div>
    <%= form.label :title_ru, style: "display: block" %>
    <%= form.text_field :title_ru %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
