<div id="<%= dom_id artist %>">
  <h1>
    <%= artist.full_name %>
  </h1>
  <p>
    <%= artist.short_description %>
  </p>
  <p>
    <%= artist.description %>
  </p>

  <%= render "aliases", artist: artist if artist.aliases.count.positive? %>

  <%= render "shared/records_songs_tabs",
    records_tab_title: "Records feature this artist",
    records_tab_src: artist_records_path(artist),
    songs_tab_title: "Songs by this artist",
    songs_tab_src: artist_related_songs_path(artist)
  %>