<div id="<%= dom_id artist %>">
  <h1>
    <%= artist.last_name %>, <%= artist.first_name %>
  </h1>
  <p>
    <%= artist.short_description %>
  </p>
  <p>
    <%= artist.description %>
  </p>

  <%= render "shared/records_table", records: @records, pagy: @pagy_for_records %>

  <div class="artists-songs">
    <%= render "shared/songs_table", songs: @songs, pagy: @pagy_for_songs %>
  </div>
</div>
