<div id="<%= dom_id artist %>">
  <h1>
    <%= artist.last_name %>, <%= artist.first_name %>
  </h1>
  <p>
    <%= artist.short_description %>
  </p>
  <p>
    <%= artist.description %>
  </p>

  <%= turbo_frame_tag "records", src: artist_records_path(artist), loading: :lazy, target: "_top" do %><% end %>

  <%= turbo_frame_tag "songs", src: artist_songs_path(artist), loading: :lazy, target: "_top" do %><% end %>
</div>
