<p style="color: green"><%= notice %></p>

<h1>Artists</h1>

<%= search_form_for @q do |f| %>
  <%= f.search_field :stage_name_cont, placeholder: "Search by name..." %>
  <%= f.submit "Search", class: "btn btn-primary btn-sm", data: { turbo_stream: true } %>
  <%= link_to "Clear Search", request.path, class:"btn btn-secondary btn-sm" %>
<% end %>

<table class="table table-responsive table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= sort_link(@q, :stage_name, "Stage name") %></th>
      <th scope="col"><%= sort_link(@q, :songs_count, "Songs in the database") %></th>
    </tr>
  </thead>
  <tbody>
    <% @artists.each_with_index do |artist, index| %>
      <tr>
        <th scope="row">
          <%= item_index(index, @pagy) %>
        </th>
        <td>
          <%= link_to artist.stage_name, artist %>
        </td>
        <td>
          <%= artist.songs_count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav(@pagy) %>
<%== pagy_info(@pagy) %>
