<%= form_with(model: [:admin, song]) do |form| %>
  <% if song.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
        <% song.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :year_of_release, style: "display: block" %>
    <%= form.number_field :year_of_release %>
  </div>

  <div>
    <p><strong>Select song title:</strong></p>
    <% SongGroup.all.each do |tag| %>
      <% checked = @song.song_group ? @song.song_group.id == tag.id : false %>
      <%= radio_button_tag "tags[song_group_id]", tag.id, checked, id: dom_id(tag) %>
      <%= label_tag dom_id(tag), tag.title %><br>
    <% end %>
  </div>

  <h3>Artists and Roles</h3>
  <%= turbo_frame_tag "artist_songs", target: "_top" do %>
    <%= render "artist_songs_fields", song: @song, form: form, n_artists: artists_count(@song) %>
  <% end %>

  <div>
    <%= form.label :variation_en, style: "display: block" %>
    <p>E.g.: live, alt. take, etc.</p>
    <%= form.text_field :variation_en %>
  </div>

  <div>
    <%= form.label :variation_ru, style: "display: block" %>
    <%= form.text_field :variation_ru %>
  </div>

  <div>
    <%= form.label :notes_en, style: "display: block" %>
    <%= form.text_area :notes_en %>
  </div>

  <div>
    <%= form.label :notes_ru, style: "display: block" %>
    <%= form.text_area :notes_ru %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
