<%= form_with(model: [:admin, song]) do |form| %>
  <% if song.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
        <% song.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :year_of_release, style: "display: block" %>
    <%= form.number_field :year_of_release %>
  </div>

  <div>
    <p><strong>Select song title:</strong></p>
    <% SongGroup.all.each do |tag| %>
      <% checked = @song.song_group ? @song.song_group.id == tag.id : false %>
      <%= radio_button_tag "song[song_group_id]", tag.id, checked, id: dom_id(tag) %>
      <%= label_tag dom_id(tag), tag.title %><br>
    <% end %>
  </div>

  <h3>Artists and Roles</h3>
  <%= tag.div id: :artist_songs do %>
    <%= form.fields_for :artist_songs do |ff| %>
      <%= render "artist_songs_fields", f: ff %>
    <% end %>
  <% end %>

  <%= link_to "Add artist",
    add_artist_admin_songs_path,
    class: "btn btn-primary btn-sm",
    data: { turbo_method: :post } %>

  <div>
    <datalist id="titles-en-list">
      <% Song.order(:title_en).each do |s| %>
        <option value="<%= s.title_en %>"></option>
      <% end %>
    </datalist>

    <%= form.label :title_en, style: "display: block" %>
    <%= form.text_field :title_en, list: "titles-en-list" %>
  </div>

  <div>
    <datalist id="titles-ru-list">
      <% Song.order(:title_ru).each do |s| %>
        <option value="<%= s.title_ru %>"></option>
      <% end %>
    </datalist>

    <%= form.label :title_ru, style: "display: block" %>
    <%= form.text_field :title_ru, list: "titles-ru-list" %>
  </div>

  <div>
    <%= form.label :variation_en, style: "display: block" %>
    <p>E.g.: live, alt. take, etc.</p>
    <%= form.text_field :variation_en %>
  </div>

  <div>
    <%= form.label :variation_ru, style: "display: block" %>
    <%= form.text_field :variation_ru %>
  </div>

  <div>
    <%= form.label :notes_en, style: "display: block" %>
    <%= form.text_area :notes_en %>
  </div>

  <div>
    <%= form.label :notes_ru, style: "display: block" %>
    <%= form.text_area :notes_ru %>
  </div>

  <div>
    <%= form.button "Save", type: "submit", class: "btn btn-success" %>
  </div>
<% end %>
