<div id="<%= dom_id song %>">
  <p>
    <strong>Artists:</strong>
    <% song.artists.each do |artist| %>
      <%= link_to [:admin, artist], style:"text-decoration:none" do %>
        <span class=<%= "tag" %> title="<%= artist.short_description %>"><%= artist.stage_name %></span>
      <% end %>
    <% end %>
  </p>

  <p>
    <strong>Title en:</strong>
    <%= song.title_en %>
  </p>

  <p>
    <strong>Title ru:</strong>
    <%= song.title_ru %>
  </p>

  <p>
    <strong>Variation en:</strong>
    <%= song.variation_en %>
  </p>

  <p>
    <strong>Variation ru:</strong>
    <%= song.variation_ru %>
  </p>

  <p>
    <strong>Year of release:</strong>
    <%= song.year_of_release %>
  </p>

  <p>
    <strong>Notes en:</strong>
    <%= song.notes_en %>
  </p>

  <p>
    <strong>Notes ru:</strong>
    <%= song.notes_ru %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= song.slug %>
  </p>

  <p>
    <strong>Records featured this song:</strong>
    <% if song.records_count.positive? %>
      <ol>
        <% song.records.each do |r| %>
          <li>
            <%= link_to r.cat_number, [:admin, r] %>
          </li>
        <% end %>
      </ol>
    <% else %>
      <span class="badge text-bg-danger">Orphan song!</span>
    <% end %>
  </p>
</div>
