<div id="<%= dom_id song %>">
  <p>
    <strong>Artists:</strong>
    <% song.artists.each do |tag| %>
      <%= link_to [:admin, tag], style:"text-decoration:none" do %>
        <span class=<%= "tag" %> title="<%= tag.short_description %>"><%= tag.full_name %></span>
      <% end %>
    <% end %>
  </p>

  <p>
    <strong>Title en:</strong>
    <%= song.song_group.title_en %>
  </p>

  <p>
    <strong>Title ru:</strong>
    <%= song.song_group.title_ru %>
  </p>

  <p>
    <strong>Variation en:</strong>
    <%= song.variation_en %>
  </p>

  <p>
    <strong>Variation ru:</strong>
    <%= song.variation_ru %>
  </p>

  <p>
    <strong>Year of release:</strong>
    <%= song.year_of_release %>
  </p>

  <p>
    <strong>Notes en:</strong>
    <%= song.notes_en %>
  </p>

  <p>
    <strong>Notes ru:</strong>
    <%= song.notes_ru %>
  </p>

  <p>
    <strong>Records featured this song:</strong>
    <% song.tracks.each do |track| %>
      <% url_scope = :admin %>
      <% record = track.record %>
      <% if record %>
        <%= link_to [url_scope, record], style:"text-decoration:none" do %>
          <span class=""><%= record.id %></span>
        <% end %>
      <% end %>
    <% end %>
  </p>
</div>
