<p style="color: green"><%= notice %></p>

<h1>Songs</h1>

<%= link_to "<<", admin_index_path %> |
<%= link_to "New song", new_admin_song_path %>

<div id="songs">
  <% @songs.each do |song| %>
    <%= render song %>
    <p>
      <%= link_to "Show this song", admin_song_path(song) %> |
      <%= link_to "Edit this song", edit_admin_song_path(song) %>
    </p>
  <% end %>
</div>
