<p style="color: green"><%= notice %></p>

<h1>Format tags</h1>

<div class="page-intro">
  <p><%= t(:format_tags_index_intro) %></p>
</div>

<table class="table table-responsive table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Number of records tagged</th>
    </tr>
  </thead>
  <tbody>
    <% @format_tags.each_with_index do |tag, index| %>
      <tr>
        <th scope="row">
          <%= index + 1 %>
        </th>
        <td>
          <%= link_to tag.name, tag %>
        </td>
        <td>
          <%= tag.description %>
        </td>
        <td>
          <%= tag.n_records_tagged %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>