<h1>Admin panel</h1>

<h3>Songs:</h3>
<div>
  <%= link_to "List song titles", admin_song_titles_path %>
</div>
<div>
  <%= link_to "New song title", new_admin_song_title_path %>
</div>

<h3>Songs:</h3>
<div>
  <%= link_to "List songs", admin_songs_path %>
</div>
<div>
  <%= link_to "New song", new_admin_song_path %>
</div>

<h3>Artists:</h3>
<div>
  <%= link_to "List artists", admin_artists_path %>
</div>
<div>
  <%= link_to "New artist", new_admin_artist_path %>
</div>

<h3>Records</h3>
<div>
  <%= link_to "List records", admin_records_path %>
</div>
<div>
  <%= link_to "New record", new_admin_record_path %>
</div>

<h3>Records/categories</h3>
<div>
  <%= link_to "List categories", admin_categories_path %>
</div>
<div>
  <%= link_to "New category", new_admin_category_path %>
</div>

<h3>Records/format tags</h3>
<div>
  <%= link_to "List format tags", admin_format_tags_path %>
</div>
<div>
  <%= link_to "New format tag", new_admin_format_tag_path %>
</div>
