<div id="<%= dom_id artist %>">
  <p>
    <strong>Stage name en:</strong>
    <%= artist.stage_name_en %>
  </p>

  <p>
    <strong>Stage name ru:</strong>
    <%= artist.stage_name_ru %>
  </p>

  <p>
    <strong>Real name en:</strong>
    <%= artist.real_name_en %>
  </p>

  <p>
    <strong>Real name ru:</strong>
    <%= artist.real_name_ru %>
  </p>

  <p>
    <strong>Short description en:</strong>
    <%= artist.short_description_en %>
  </p>

  <p>
    <strong>Short description ru:</strong>
    <%= artist.short_description_ru %>
  </p>

  <p>
    <strong>Description en:</strong>
    <%= artist.description_en %>
  </p>

  <p>
    <strong>Description ru:</strong>
    <%= artist.description_ru %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= artist.slug %>
  </p>
</div>
