<%= form_with(model: [:admin, artist]) do |form| %>
  <% if artist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
        <% artist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :stage_name_en, style: "display: block" %>
    <%= form.text_field :stage_name_en %>
  </div>

  <div>
    <%= form.label :stage_name_ru, style: "display: block" %>
    <%= form.text_field :stage_name_ru %>
  </div>

  <div>
    <%= form.label :real_name_en, style: "display: block" %>
    <%= form.text_field :real_name_en %>
  </div>

  <div>
    <%= form.label :real_name_ru, style: "display: block" %>
    <%= form.text_field :real_name_ru %>
  </div>

  <div>
    <%= form.label :short_description_en, style: "display: block" %>
    <%= form.text_area :short_description_en %>
  </div>

  <div>
    <%= form.label :short_description_ru, style: "display: block" %>
    <%= form.text_area :short_description_ru %>
  </div>

  <div>
    <%= form.label :description_en, style: "display: block" %>
    <%= form.text_area :description_en %>
  </div>

  <div>
    <%= form.label :description_ru, style: "display: block" %>
    <%= form.text_area :description_ru %>
  </div>

  <h3>Band members and their roles:</h3>
  <%= tag.div id: :band_memberships do %>
    <%= form.fields_for :band_memberships do |ff| %>
      <%= render "artist_bands_fields", f: ff if artist.band? %>
    <% end %>
  <% end %>

  <%= link_to "Add member",
    add_band_member_admin_artists_path,
    class: "btn btn-primary btn-sm",
    data: { turbo_method: :post } %>

  <div>
    <%= form.label :primary_artist_id, "Artist" %>
    <%= form.collection_select :primary_artist_id, Artist.all, :id, :stage_name, include_blank: "Optional primary artist..." %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
