<p style="color: green"><%= notice %></p>

<h1>Artists</h1>

<%= link_to "<<", admin_index_path %> |
<%= link_to "New artist", new_admin_artist_path %>

<%= search_form_for(@q, url: admin_artists_path) do |f| %>
  <%= f.select :aliases, [["Is alias", "true"]], include_blank: "All" %>
  <%= f.select :band_members, [["Is band member", "true"]], include_blank: "All" %>
  <%= f.select :primary_artists, [["Is primary", "true"]], include_blank: "All" %>
  <%= f.select :bands, [["Is band", "true"]], include_blank: "All" %>
  <%= f.submit "Filter", class: "btn btn-primary btn-sm", data: { turbo_stream: true } %>
  <%= link_to "Clear filters", request.path, class:"btn btn-secondary btn-sm" %>
<% end %>

<table class="table table-responsive table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= sort_link(@q, :id, "ID", data: {turbo_stream: true}) %></th>
      <th scope="col"><%= sort_link(@q, :stage_name_en, "Stage name en", data: {turbo_stream: true}) %></th>
      <th scope="col"><%= sort_link(@q, :stage_name_ru, "Stage name ru", data: {turbo_stream: true}) %></th>
      <th scope="col"><%= sort_link(@q, :songs_count, "Songs", data: {turbo_stream: true}) %></th>
      <th scope="col">Status</th>
      <th scope="col">Controls</th>
    </tr>
  </thead>
  <tbody>
    <% @artists.each_with_index do |artist, index| %>
      <tr>
        <th scope="row">
          <%= item_index(index, @pagy) %>
        </th>
        <td>
          <%= artist.id %>
        </td>
        <td>
          <%= artist.stage_name_en %>
        </td>
        <td>
          <%= artist.stage_name_ru %>
        </td>
        <td>
          <%= artist.songs_count %>
        </td>
        <td>
          <%= content_tag(:span, "Primary", class: "badge text-bg-primary") if artist.primary? %>
          <%= content_tag(:span, "Band", class: "badge text-bg-success") if artist.band? %>
          <%= content_tag(:span, "Member", class: "badge text-bg-secondary") if artist.member? %>
          <%= content_tag(:span, "Alias", class: "badge text-bg-info") if artist.alias? %>
        </td>
        <td>
          <%= link_to "Show", admin_artist_path(artist) %> |
          <%= link_to "Edit", edit_admin_artist_path(artist) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav(@pagy) %>
<%== pagy_info(@pagy) %>