<table class="table table-responsive table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= sort_link(@q, :song_group_title, "Title", data: {turbo_stream: true}) %></th>
      <th scope="col">Performed by</th>
      <th scope="col"><%= sort_link(@q, :year_of_release, "Year of release", data: {turbo_stream: true}) %></th>
    </tr>
  </thead>
  <tbody>
    <% songs.each_with_index do |song, index| %>
      <tr>
        <th scope="row">
          <%= item_index(index, @pagy) %>
        </th>
        <td>
          <%= link_to song.title, song %> <%= song.print_variation %>
        </td>
        <td>
          <% song.artists.each do |artist| %>
            <%= link_to artist.full_name, artist %>
          <% end %>
        </td>
        <td>
          <%= song.year_of_release %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav(@pagy, anchor_string: 'data-action="hello#world"') %>