<p>
  <strong>Name en:</strong>
  <%= taggable.name_en %>
</p>

<p>
  <strong>Name ru:</strong>
  <%= taggable.name_ru %>
</p>

<p>
  <strong>Short description en:</strong>
  <%= taggable.short_description_en %>
</p>

<p>
  <strong>Short description ru:</strong>
  <%= taggable.short_description_ru %>
</p>

<p>
  <strong>Description en:</strong>
  <%= taggable.description_en %>
</p>

<p>
  <strong>Description ru:</strong>
  <%= taggable.description_ru %>
</p>