<p>
  <strong>Name en:</strong>
  <%= tag.name_en %>
</p>

<p>
  <strong>Name ru:</strong>
  <%= tag.name_ru %>
</p>

<p>
  <strong>Short description en:</strong>
  <%= tag.short_description_en %>
</p>

<p>
  <strong>Short description ru:</strong>
  <%= tag.short_description_ru %>
</p>

<p>
  <strong>Description en:</strong>
  <%= tag.description_en %>
</p>

<p>
  <strong>Description ru:</strong>
  <%= tag.description_ru %>
</p>

<p>
  <strong>Visible:</strong>
  <%= tag.visible %>
</p>