<div class="tracklist">
  <table class="table table-responsive tracklist">
    <tbody>
      <% tracks.each do |track| %>
        <tr>
          <th scope="row">
            <%= track.number %>
          </th>
          <td>
            <%= render "shared/list_artists", artists: track.artists, url_scope: url_scope %>
          </td>
          <td>
            <%= link_to track.song.title, [url_scope, track.song]%> <%= track.song.print_variation %>
          </td>
          <td>
            <%= track.duration %>
          </td>
          <td>
            <% if track.web_audio.attached? %>
              <%= content_tag "button",
                "",
                id: track.web_audio_key,
                class: "play-button",
                data: {
                  "action": "click->track-selector#controlPlayback",
                  "track-selector-target": "button",
                  "track-key": track.web_audio_key,
                  "title": track.song.title
                } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>