<div class="tracklist">
  <table class="table table-responsive tracklist">
    <tbody>
      <% tracks.each do |track| %>
        <tr>
          <th scope="row">
            <%= track.number %>
          </th>
          <td>
            <%= render "shared/list_artists", artists: track.artists, url_scope: url_scope %>
          </td>
          <td>
            <%= link_to track.song.title, [url_scope, track.song]%> <%= track.song.print_variation %>
          </td>
          <td>
            <%= track.duration %>
          </td>
          <td>
            <%= render "shared/track_play_button", track: track %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>