<table class="table table-borderless table-sm table-track-preview">
  <tbody>
    <% tracks.each do |track| %>
      <tr>
        <th scope="row"><%= track.number %></th>
        <td>
          <%= render "shared/artist_tag", track: track, url_scope: nil %> - <%= track.song.title %> <%= track.song.print_variation %>
        </td>
        <td>
          <% if track.web_audio.attached? %>
            <%= content_tag "button",
              "",
              id: track.web_audio_key,
              class: "play-button",
              data: {
                "action": "click->track-selector#controlPlayback",
                "track-selector-target": "button",
                "track-key": track.web_audio_key,
                "title": track.song.title
              } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
