<div id="<%= dom_id song %>">
  <h1><%= render "shared/list_artists", artists: song.artists, url_scope: nil %> - <%= song.title %></h1>

  <p>
    <strong>Year of release:</strong>
    <%= song.year_of_release %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= song.notes %>
  </p>

  <%= render "shared/records_songs_tabs",
    records_tab_title: "Records feature this song",
    records_tab_src: song_records_path(song),
    songs_tab_title: "Related songs",
    songs_tab_src: song_related_songs_path(song)
  %>
