<div id="<%= dom_id song %>">
  <h1><%= song.title %></h1>

  <p>
    <strong>Year of release:</strong>
    <%= song.year_of_release %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= song.notes %>
  </p>

  <% if song.other_variations? %>
    <div class="song-other-versions">
      <strong>Other versions:</strong>
      <!= render "shared/songs_table", songs: song.other_variations %>
    </div>
  <% end %>

  <%= turbo_frame_tag "records", src: song_records_path(song), loading: :lazy, target: "_top" do %><% end %>
</div>
