<div id="<%= dom_id song %>">
  <h1><%= song.title %></h1>

  <p>
    <strong>Year of release:</strong>
    <%= song.year_of_release %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= song.notes %>
  </p>

  <% if song.other_versions? %>
    <div class="song-other-versions">
      <strong>Other versions:</strong>
      <%= render "shared/songs_table", songs: song.other_versions %>
    </div>
  <% end %>

  <%= render "shared/records_table", records: song.records %>
</div>
