<%= form_with(model: [:admin, label]) do |form| %>
  <% if label.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(label.errors.count, "error") %> prohibited this label from being saved:</h2>

      <ul>
        <% label.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name_en, style: "display: block" %>
    <%= form.text_field :name_en %>
  </div>

  <div>
    <%= form.label :name_ru, style: "display: block" %>
    <%= form.text_field :name_ru %>
  </div>

  <div>
    <%= form.label :short_description_en, style: "display: block" %>
    <%= form.text_field :short_description_en %>
  </div>

  <div>
    <%= form.label :short_description_ru, style: "display: block" %>
    <%= form.text_field :short_description_ru %>
  </div>

  <div>
    <%= form.label :description_en, style: "display: block" %>
    <%= form.text_field :description_en %>
  </div>

  <div>
    <%= form.label :description_ru, style: "display: block" %>
    <%= form.text_field :description_ru %>
  </div>

  <div>
    <%= form.label :visible, style: "display: block" %>
    <%= form.check_box :visible %>
  </div>

  <div>
    <p><strong>Parent label:</strong></p>
    <%= form.collection_select :parent_label_id, Label.excluding(label), :id, :name_en, include_blank: "Optional parent label..." %>
  </div>

  <%= render "admin/shared/form_image_preview", form: form, obj: label %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
