<div id="<%= dom_id label %>">
  <%= image_tag(label.image.variant(:preview)) if label.image.attached? %>
  <%= render "admin/shared/tag", tag_obj: label %>

  <strong>Status</strong>: <%= render "status_tags", label: label %>
  <%= render "related_labels", label: label %>
</div>
