<h1>Blog</h1>

<%= link_to "New post", new_admin_post_path, class: "btn btn-primary btn-sm" %>

<div class="filter-form">
  <%= search_form_for([:admin, @q]) do |f| %>
    <%= f.label :s, t("Order:") %>
    <%= f.select :s, options_for_select(
        [
          [t("Oldest"),"created_at asc"],
          [t("Title EN, A-Z"),"title_en asc"],
          [t("Title EN, Z-A"),"title_en desc"],
          [t("Title RU, A-Z"),"title_ru asc"],
          [t("Title RU, Z-A"),"title_ru desc"]

        ],
        params.dig(:q,:s)
      ),
      { include_blank: "Newest" },
      { onchange: "this.form.submit();", class: "form-select form-select-sm" }
    %>
  <% end %>
</div>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render "post_preview", post: post %>
  <% end %>
</div>

<%== pagy_bootstrap_nav(@pagy) %>
<%== pagy_info(@pagy) %>