<%= form_with(model: [:admin, track]) do |form| %>
  <% if track.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
        <% track.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :number, style: "display: block" %>
    <%= form.select :number, ["A1", "A2", "A3", "A4", "A5", "B1", "B2", "B3", "B4", "B5"] %>
  </div>

  <div>
    <%= form.label :song_id, style: "display: block" %>
    <%= form.collection_select :song_id, Song.order(:full_title), :id, :full_title, include_blank: false %>
  </div>

  <%= form.file_field :web_audio %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
