<p style="color: green"><%= notice %></p>

<h1>Artists roles</h1>

<%= link_to "New role", new_admin_role_path, class: "btn btn-primary btn-sm" %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name_en</th>
      <th scope="col">Name_ru</th>
      <th scope="col">Controls</th>
    </tr>
  </thead>
  <tbody>
    <% @roles.each_with_index do |role, idx| %>
      <tr>
        <th scope="row">
          <%= idx + 1%>
        </th>
        <td>
          <%= role.name_en %>
        </td>
        <td>
          <%= role.name_ru %>
        </td>
        <td>
          <%= link_to "Edit", edit_admin_role_path(role), class: "btn btn-primary btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
