<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<% tags = @categories.all %>
<div class="row">

<div class="row row-cols-1 row-cols-md-3 g-4">

<% tags.each do |tag| %>
  <div class="col">
    <div class="card">
      <%= link_to image_tag(tag.image.variant(:preview), class: "card-img-top"), tag if tag.image.attached? %>
      <div class="card-body">
        <h5 class="card-title"><%= tag.name %></h5>
        <p class="card-text"><%= tag.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Records in the category: <%= tag.records_count %></li>
      </ul>
      <div class="card-body">
        <a href= <%= category_path(tag) %> class="btn btn-primary">Browse <%= tag.name %></a>
      </div>
    </div>
  </div>
<% end %>

</div>