<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Record collection
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href=<%= records_path %>>Overview</a></li>
            <li><a class="dropdown-item" href=<%= categories_path %>>Categories</a></li>
            <li><a class="dropdown-item" href=<%= format_tags_path %>>Formats</a></li>
            <li><a class="dropdown-item" href=<%= artists_path %>>Artists</a></li>
            <li><a class="dropdown-item" href=<%= songs_path %>>Songs</a></li>
            <li><a class="dropdown-item" href=<%= songs_path %>>Genres</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href=<%= random_records_path %>>Random record</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="offcanvas" href="#playlist" role="button" aria-controls="playlist">
            Playlist
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= tag.div class: "#{I18n.locale}-lang" %><span><%= t("current_language.full") %></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <% switch_locale = I18n.locale == :en ? :ru : :en %>
              <%= button_to users_preferences_update_path({preferences: {language: switch_locale}}), data: { "turbo-method": :post }, class: "dropdown-item btn btn-link" do %>
                <%= tag.div class: "#{switch_locale}-lang" %><span><%= t("switch_language.full") %></span>
              <% end %>
            </li>
          </ul>
        </li>

        <% if current_user.try(:admin?) %>
          <li class="nav-item">
            <a class="nav-link" href=<%= admin_index_path %>>Admin panel</a>
          </li>
        <% end %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Preferences", users_preferences_path, class: "dropdown-item" %>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <% if user_signed_in? %>
                <%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "dropdown-item" %>
              <% else %>
                  <%= link_to "Sign in", new_user_session_path, class: "dropdown-item" %>
              <% end %>
            </li>
            <li>
          </ul>
        </li>

        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="darkModeSwitch" data-theme-target="navbarSwitch" data-action="change->theme#toggleTheme">
          <label class="form-check-label" for="darkModeSwitch">Dark Mode</label>
        </div>
      </ul>
    </div>
  </div>
</nav>