<p>
  <strong>Name en:</strong>
  <%= tag_obj.name_en %>
</p>

<p>
  <strong>Name ru:</strong>
  <%= tag_obj.name_ru %>
</p>

<p>
  <strong>Short description en:</strong>
  <%= tag_obj.short_description_en %>
</p>

<p>
  <strong>Short description ru:</strong>
  <%= tag_obj.short_description_ru %>
</p>

<p>
  <strong>Description en:</strong>
  <%= tag_obj.description_en %>
</p>

<p>
  <strong>Description ru:</strong>
  <%= tag_obj.description_ru %>
</p>

<p>
  <strong>Slug:</strong>
  <%= tag_obj.slug %>
</p>

<p>
  <strong>Visible:</strong>
  <%= tag_obj.visible %>
</p>
