<%= form_with(model: [:admin, record]) do |form| %>
  <% if record.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
        <% record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p><strong>Select category:</strong></p>
    <% Category.all.each do |tag| %>
      <% checked = @record.category ? @record.category.id == tag.id : false %>
      <%= radio_button_tag "tags[category_id]", tag.id, checked, id: dom_id(tag) %>
      <%= label_tag dom_id(tag), tag.name %><br>
    <% end %>
  </div>

  <div>
    <p><strong>Select format tags:</strong></p>
    <% FormatTag.all.each do |tag| %>
      <%= check_box_tag "tags[format_tags_ids][]", tag.id, @record.format_tags.map{ |e| e.id}.include?(tag.id), id: dom_id(tag) %>
      <%= label_tag dom_id(tag), tag.name %><br>
    <% end %>
  </div>

  <div>
    <p><strong>Select tracks:</strong></p>
    <% Track.all.each do |tag| %>
      <%= check_box_tag "tags[tracks_ids][]", tag.id, @record.tracks.map{ |e| e.id}.include?(tag.id), id: dom_id(tag) %>
      <%= label_tag dom_id(tag), tag.title %><br>
    <% end %>
  </div>

  <div>
    <%= form.label :tech_info, style: "display: block" %>
    <%= form.text_area :tech_info %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
