<%= form_with(model: [:admin, record]) do |form| %>
  <% if record.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
        <% record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= turbo_frame_tag "attachment-controls" do %>
    <!% render "web_images_controls", web_images: @record.web_images %>
  <% end %>

  <%= form.file_field :web_images, multiple: true %>

  <div>
    <p><strong>Select category:</strong></p>
    <%= form.collection_select :category_id, Category.all, :id, :name_en %>
  </div>

  <div>
    <p><strong>Select label:</strong></p>
    <%= form.collection_select :label_id, Label.all, :id, :name_en %>
  </div>

  <div>
    <datalist id="format-sizes-list">
      <% %w[07 08 09 10].each do |value| %>
        <option value="<%= value %>"></option>
      <% end %>
    </datalist>

    <%= form.label :format_size, style: "display: block" %>
    <%= form.number_field :format_size, list: "format-sizes-list" %>
  </div>

  <div>
    <p><strong>Select format tags:</strong></p>
    <% FormatTag.all.each do |t| %>
      <%= check_box_tag "tags[format_tags_ids][]",
        t.id,
        @record.format_tags.map{ |e| e.id}.include?(t.id),
        id: dom_id(t) %>

      <%= label_tag dom_id(t), t.name %><br>
    <% end %>
  </div>

  <div>
    <p><strong>Select tracks:</strong></p>
    <% (Track.without_record_assigned | @record.tracks).each do |t| %>
      <%= check_box_tag "tags[tracks_ids][]",
        t.id,
        @record.tracks.map{ |e| e.id}.include?(t.id),
        id: dom_id(t) %>

      <%= label_tag dom_id(t), t.title %><br>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
