<div id="<%= dom_id record %>">

  <% record.web_images.each do |image| %>
    <%= image_tag(image) %>
  <% end %>

  <p>
    <strong>Tech info:</strong>
    <%= record.tech_info %>
  </p>

  <p>
    <strong>Category:</strong>
    <% tag = record.category %>
    <%= render "shared/tag_display", tag: tag, url_scope: :admin %>
  </p>

  <p>
    <strong>Format:</strong>
    <% tags = record.format_tags %>
    <%= render "shared/tag_array_display", tags: tags, url_scope: :admin %>
  </p>

  <% record.tracks.each do |track| %>
    <ul>
      <%= link_to [:admin, track], style:"text-decoration:none" do %>
        <span class=""><%= track.title %></span>
      <% end %>
    </ul>
  <% end %>
</div>
