<!DOCTYPE html>
<html>
  <head>
    <title>XRayProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= yield(:head) %>
  </head>

  <body>
    <%= content_tag :div, class: "navbar-container", data: { controller: "theme" } do %>
      <%= render "application/navbar" %>
    <% end %>

    <div class="content" data-controller="track-selector" data-action="track-selector:select->player#activate">
      <%= yield %>
    </div>

    <%= render "application/player" %>
  </body>
</html>
